{% extends 'base.html.twig' %}

{% block body %}
Welcome {{session.getUser().getUsername()}}!!


<div class="row">
	<div class="col-lg-12">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#user" data-toggle="tab">User</a></li>
		  <li><a href="#message" data-toggle="tab">Message</a></li>
		  <li><a href="#picture" data-toggle="tab">Picture</a></li>
		</ul>
		
		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="user">
		  	<h4>User list</h4>
		  	<table class="table">
		  		<thead>
		  			<tr>
		  				<th>Username</th>
		  				<th>FirstName</th>
		  				<th>LastName</th>
		  			</tr>
		  		</thead>
		  		{% for user in users %}
		  			<tr><td>{{user.username}}</td><td>{{user.firstName}}</td><td>{{user.lastName}}</td></tr>
		  		{% endfor %}
		  	</table>
		  	<a href="{{urlgenerator('addUser')}}" class="btn btn-default">Add</a>
		  </div>
		  <div class="tab-pane" id="message">
		  	<h4>Message list</h4>
		  	<table class="table">
		  		<thead>
		  			<tr>
		  				<th>Id</th>
		  				<th>Title</th>
		  				<th>Message</th>
		  			</tr>
		  		</thead>
		  		{% for message in messages %}
		  			<tr><td>{{message.id}}</td><td>{{message.title}}</td><td>{{message.message}}</td></tr>
		  		{% endfor %}
		  	</table>
		  </div>
		  <div class="tab-pane" id="picture">
		  	<h4>Picture list</h4>
		  	<table class="table">
		  		<thead>
		  			<tr>
		  				<th>Id</th>
		  				<th>Date</th>
		  				<th>Title</th>
		  			</tr>
		  		</thead>
		  		{% for picture in pictures %}
		  			<tr><td>{{picture.id}}</td><td>{{picture.date}}</td><td>{{picture.title}}</td></tr>
		  		{% endfor %}
		  	</table>
		  	<a href="{{urlgenerator('addPicture')}}" class="btn btn-default">Add</a>
		  </div>
		</div>
	</div>
</div>
<script>
	$('#user a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
	$('#message a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
	$('#picture a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
	</script>
{% endblock %}
