<!DOCTYPE html>
<html>
	<head>
<meta http-equiv="Content-Type" content="text/html; charset='utf-8' " /> 
		<title>My amazing Site with Sansa</title>
		{% block stylesheet %}
		<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{asset('bootstrap/css/bootstrap.css')}}" media="screen" />
		 {% endblock %}   
		 
		 
		 

	</head>
	<body>
		
		
	<div class="container">
		<div class="row">
			<div class="col-lg-12 " style="text-align:center;">
				<H1>{% block title_body %}This is my amazing website with Sansa{% endblock %}</H1>
			</div>
			<div class="col-lg-12 ">
				<nav class="navbar navbar-default" role="navigation">
 				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				      </button>
				      <a class="navbar-brand" href="{{urlgenerator('home')}}">Home</a>
				    </div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{{urlgenerator('home')}}">HOME</a></li>
							{% if session.hasUser() %}
								{% if session.getUser().hasRole('ROLE_ADMIN') %}
									<li><a href="{{urlgenerator('admin')}}">admin page</a></li>
								{% endif %}
							{% endif %}
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
					        {% if session.hasUser() %}
								<li><a href="{{urlgenerator('logout')}}">Logout</a></li>
							{% else %}
								<li><a href="{{urlgenerator('login')}}">Login</a></li>
							{% endif %}
					      </ul>
					</div>
				</nav>
			</div>
			<div class="col-lg-12 ">
				<div class="row">
					
					{% if session.hasUser() %}
					<div class="col-lg-2 ">
						<img  src="{{asset(session.getUser().getPicturePath())}}" alt="..." class="img-circle" style="width:100%;">
						<blockquote>
						  <p>Hello {{session.getUser().getFirstName()}}!!!</p>
						 
						</blockquote>
					</div>
					<div class="col-lg-10 ">
					{% else %}
						<div class="col-lg-12 ">
					{% endif %}
						{% block body %}
						{% endblock %}
					</div>
				</div>
			</div>	
			
		</div>
		

			{% block javascript %}
			<script type='text/javascript' src='{{asset("js/jquery.js")}}'></script>
			<script type='text/javascript' src='{{asset("bootstrap/js/bootstrap.min.js")}}'></script>
		 	{% endblock %}   
		<script>
	      $(document).foundation();
	    </script>
	</div> 
	</body>
</html>
